In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [128]:
d2018 = pd.read_csv("2018.csv")

/tmp/ipykernel_31013/1189772607.py:1: DtypeWarning: Columns (9,13,14,15,16,17,51,52,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129) have mixed types. Specify dtype option on import or set low_memory=False.
  d2018 = pd.read_csv("2018.csv")

In [129]:
d2018.shape

(98855, 131)

In [130]:
# d2018.head()

,Unnamed: 0,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,...,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy,year
0,0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy,2018
1,1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,2018
2,2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
3,3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,...,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy,2018
4,4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",...,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,2018

In [131]:
d2019 = pd.read_csv("2019.csv")
d2019.shape

(88883, 87)

In [132]:
# d2019.head()

,Unnamed: 0,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,year
0,0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,...,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,2019
1,1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",...,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,2019
2,2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult,2019
3,3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,2019
4,4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy,2019

In [133]:
# d2019.head()

,Unnamed: 0,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,year
0,0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,...,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,2019
1,1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",...,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,2019
2,2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult,2019
3,3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,2019
4,4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy,2019

In [134]:
d2020 = pd.read_csv("2020.csv")
d2020.shape

(64461, 63)

In [135]:
# d2020.head()

,Unnamed: 0,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,...,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro,year
0,0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27,2020
1,1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,...,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4,2020
2,2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,...,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN,2020
3,3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,...,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4,2020
4,4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,...,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8,2020

In [136]:
d2021 = pd.read_csv("2021.csv")
# d2021.shape

(83439, 50)

In [137]:
# d2021.head()

,Unnamed: 0,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,...,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly,year
0,0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,...,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0,2021
1,1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",...,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN,2021
2,2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",...,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN,2021
3,3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,...,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN,2021
4,4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,...,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN,2021

In [138]:
selected_features = ["age","gender","salary","country","edlevel","lan_have","lan_want","emplopyment"]

## Extracting the selected features from each dataframes

For 2018

In [139]:
d2018_selected_features = ["Age","Gender","Currency","Salary","SalaryType","Country","FormalEducation","UndergradMajor","LanguageWorkedWith"
                          ,"LanguageDesireNextYear","SexualOrientation","Employment","year"]

In [140]:
d2018 = d2018[d2018_selected_features]
d2018.shape

(98855, 13)

For 2019

In [141]:
d2019_selected_features = ["Age","Gender","CurrencyDesc","Country","CompTotal","CompFreq","ConvertedComp","EdLevel"
                           ,"UndergradMajor","LanguageWorkedWith","LanguageDesireNextYear","Sexuality","Employment","year"]

In [142]:
# d2019.head(2)
# d2019.CurrencyDesc.value_counts()

,Unnamed: 0,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,year
0,0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,...,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,2019
1,1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",...,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,2019

In [143]:
d2019.shape

(88883, 87)

In [144]:
d2019 = d2019[d2019_selected_features]
d2019.columns

Index(['Age', 'Gender', 'CurrencyDesc', 'Country', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'EdLevel', 'UndergradMajor', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'Sexuality', 'Employment', 'year'],
      dtype='object')

For 2020

In [145]:
d2020_selected_features = ["Age","Gender","Country","CompFreq","CompTotal","ConvertedComp","CurrencyDesc","EdLevel"
                          ,"UndergradMajor","LanguageWorkedWith","LanguageDesireNextYear","Sexuality","Employment","year"]

In [146]:
# d2020.head(2)

,Unnamed: 0,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,...,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro,year
0,0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27,2020
1,1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,...,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4,2020

In [147]:
d2020= d2020[d2020_selected_features]

In [148]:
d2020.shape
d2020.columns

Index(['Age', 'Gender', 'Country', 'CompFreq', 'CompTotal', 'ConvertedComp',
       'CurrencyDesc', 'EdLevel', 'UndergradMajor', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'Sexuality', 'Employment', 'year'],
      dtype='object')

In [149]:
d2021_selected_features = ["Age","Gender","Country","ConvertedCompYearly","EdLevel","LanguageHaveWorkedWith"
                           ,"LanguageWantToWorkWith","Sexuality"
                           ,"Employment","year"]

In [150]:
# d2021.head(2)

,Unnamed: 0,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,...,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly,year
0,0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,...,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0,2021
1,1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",...,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN,2021

In [151]:
d2021 = d2021[d2021_selected_features]

In [152]:
d2021.shape

(83439, 10)

### Remove all the na values

In [153]:
dfs = [d2018,d2019,d2020,d2021]
for df in dfs:
    print(df.shape)
    print(df.columns)
    df.dropna(inplace=True)
    print(df.shape)
    print(df.columns)

(98855, 13)
Index(['Age', 'Gender', 'Currency', 'Salary', 'SalaryType', 'Country',
       'FormalEducation', 'UndergradMajor', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'SexualOrientation', 'Employment', 'year'],
      dtype='object')
(27473, 13)
Index(['Age', 'Gender', 'Currency', 'Salary', 'SalaryType', 'Country',
       'FormalEducation', 'UndergradMajor', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'SexualOrientation', 'Employment', 'year'],
      dtype='object')
(88883, 14)
Index(['Age', 'Gender', 'CurrencyDesc', 'Country', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'EdLevel', 'UndergradMajor', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'Sexuality', 'Employment', 'year'],
      dtype='object')
(42909, 14)
Index(['Age', 'Gender', 'CurrencyDesc', 'Country', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'EdLevel', 'UndergradMajor', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'Sexuality', 'Employment', 'year'],
      dtype='object')
(64461, 14)
Index(['Age', 'Gender', 'Country', 'CompFreq', 'CompTotal', 'ConvertedComp',
       'CurrencyDesc', 'EdLevel', 'UndergradMajor', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'Sexuality', 'Employment', 'year'],
      dtype='object')
(24071, 14)
Index(['Age', 'Gender', 'Country', 'CompFreq', 'CompTotal', 'ConvertedComp',
       'CurrencyDesc', 'EdLevel', 'UndergradMajor', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'Sexuality', 'Employment', 'year'],
      dtype='object')
(83439, 10)
Index(['Age', 'Gender', 'Country', 'ConvertedCompYearly', 'EdLevel',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'Sexuality',
       'Employment', 'year'],
      dtype='object')
(40745, 10)
Index(['Age', 'Gender', 'Country', 'ConvertedCompYearly', 'EdLevel',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'Sexuality',
       'Employment', 'year'],
      dtype='object')

### Renaming columns to a common format

In [154]:
d2018.columns

Index(['Age', 'Gender', 'Currency', 'Salary', 'SalaryType', 'Country',
       'FormalEducation', 'UndergradMajor', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'SexualOrientation', 'Employment', 'year'],
      dtype='object')

In [155]:
for df in dfs:
    df.rename(columns = {'FormalEducation':'EdLevel','LanguageWorkedWith':'lang_have'
                                ,'LanguageDesireNextYear':'lang_want','LanguageHaveWorkedWith':'lang_have'
                       ,'LanguageWantToWorkWith':'lang_want','CurrencyDesc':'Currency',
                         'SexualOrientation':'Sexuality','ConvertedCompYearly':'salary'},inplace = True)
    print(df.columns)

Index(['Age', 'Gender', 'Currency', 'Salary', 'SalaryType', 'Country',
       'EdLevel', 'UndergradMajor', 'lang_have', 'lang_want', 'Sexuality',
       'Employment', 'year'],
      dtype='object')
Index(['Age', 'Gender', 'Currency', 'Country', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'EdLevel', 'UndergradMajor', 'lang_have', 'lang_want',
       'Sexuality', 'Employment', 'year'],
      dtype='object')
Index(['Age', 'Gender', 'Country', 'CompFreq', 'CompTotal', 'ConvertedComp',
       'Currency', 'EdLevel', 'UndergradMajor', 'lang_have', 'lang_want',
       'Sexuality', 'Employment', 'year'],
      dtype='object')
Index(['Age', 'Gender', 'Country', 'salary', 'EdLevel', 'lang_have',
       'lang_want', 'Sexuality', 'Employment', 'year'],
      dtype='object')

## Calculating yearly salaries

For 2018

In [156]:
# d2018.Currency.value_counts()

U.S. dollars ($)               9382
Euros (€)                      6878
Indian rupees (₹)              2526
British pounds sterling (£)    2464
Canadian dollars (C$)          1121
Russian rubles (₽)              876
Brazilian reais (R$)            799
Australian dollars (A$)         681
Polish złoty (zł)               670
Swedish kroner (SEK)            458
Swiss francs                    278
Norwegian krone (kr)            236
Danish krone (kr)               235
Mexican pesos (MXN$)            235
South African rands (R)         218
Chinese yuan renminbi (¥)       175
Singapore dollars (S$)          108
Japanese yen (¥)                106
Bitcoin (btc)                    27
Name: Currency, dtype: int64

In [157]:
# d2018.columns

Index(['Age', 'Gender', 'Currency', 'Salary', 'SalaryType', 'Country',
       'EdLevel', 'UndergradMajor', 'lang_have', 'lang_want', 'Sexuality',
       'Employment', 'year'],
      dtype='object')

In [158]:

d2018['SalaryType'].value_counts()

Yearly     16267
Monthly    10370
Weekly       836
Name: SalaryType, dtype: int64

In [159]:
#

In [160]:
d2018["Currency"] = d2018["Currency"].map({"Euros (€)":0.848,"Indian rupees (₹)":68.422 ,"U.S. dollars ($)":1,
                                           "British pounds sterling (£)":0.750 ,"Canadian dollars (C$)":1.297 ,
                                          "Russian rubles (₽)":62.845 , "Brazilian reais (R$)":3.655 ,"Australian dollars (A$)"
                                          :1.340 ,"Polish złoty (zł)":3.612 ,"Swedish kroner (SEK)":8.703 ,"Swiss francs":0.979 ,
                                          "Chinese yuan renminbi (¥)":6.620 ,"Danish krone (kr)":6.319 ,"Mexican pesos (MXN$)":19.227 ,
                                          "South African rands (R)":13.258 ,"Norwegian krone (kr)":8.143,"Singapore dollars (S$)":1.349 ,
                                          "Japanese yen (¥)":110.424 ,"Bitcoin (btc)":0 })

In [161]:
d2018['SalaryType'] =d2018['SalaryType'].map({"Monthly":12,"Yearly":1,"Weekly":48})

In [162]:
d2018['Salary'] = d2018['Salary'].apply(lambda x:x.replace(",","").replace("nan","0"))
d2018['Salary'] = d2018['Salary'].astype(float)

In [163]:
d2018.reset_index(inplace=True)

In [164]:
d2018['salary'] = (d2018['Salary']*d2018['SalaryType'])/d2018["Currency"]

In [165]:
d2018['Salary']

0         51000.0
1        260000.0
2        120000.0
3        250000.0
4        120000.0
           ...
27468         0.0
27469     40000.0
27470         0.0
27471     70000.0
27472         0.0
Name: Salary, Length: 27473, dtype: float64

In [166]:
d2018['SalaryType'].value_counts()

1     16267
12    10370
48      836
Name: SalaryType, dtype: int64

In [167]:
d2018["Currency"].value_counts()

1.000      9382
0.848      6878
68.422     2526
0.750      2464
1.297      1121
62.845      876
3.655       799
1.340       681
3.612       670
8.703       458
0.979       278
8.143       236
6.319       235
19.227      235
13.258      218
6.620       175
1.349       108
110.424     106
0.000        27
Name: Currency, dtype: int64

In [168]:
d2018.salary

0         68000.000000
1         19610.801026
2        120000.000000
3        250000.000000
4         89552.238806
             ...
27468         0.000000
27469     24964.893119
27470         0.000000
27471     93333.333333
27472         0.000000
Name: salary, Length: 27473, dtype: float64

In [169]:
d2018['salary'].isnull().sum()

2

In [170]:
d2018.shape

(27473, 15)

In [171]:
d2018 = d2018[d2018['salary'] != 0]

In [172]:
d2018.shape

(27211, 15)

In [173]:
d2018.columns

Index(['index', 'Age', 'Gender', 'Currency', 'Salary', 'SalaryType', 'Country',
       'EdLevel', 'UndergradMajor', 'lang_have', 'lang_want', 'Sexuality',
       'Employment', 'year', 'salary'],
      dtype='object')

In [174]:
d2018.drop(columns = ['Currency', 'Salary', 'SalaryType'],inplace=True)

/tmp/ipykernel_31013/760843261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2018.drop(columns = ['Currency', 'Salary', 'SalaryType'],inplace=True)

In [175]:
d2018.columns

Index(['index', 'Age', 'Gender', 'Country', 'EdLevel', 'UndergradMajor',
       'lang_have', 'lang_want', 'Sexuality', 'Employment', 'year', 'salary'],
      dtype='object')

In [176]:
d2018.to_csv("d2018.csv")

For 2019

In [180]:

d2019.columns

Index(['Age', 'Gender', 'Country', 'ConvertedComp', 'EdLevel',
       'UndergradMajor', 'lang_have', 'lang_want', 'Sexuality', 'Employment',
       'year'],
      dtype='object')

In [327]:
d2019.drop(columns = ['Currency', 'CompTotal', 'CompFreq'],inplace=True)

In [182]:
d2019.rename(columns = {"ConvertedComp":"salary"},inplace=True)

In [183]:
d2019['salary'] = d2019['salary'].astype(float)

For 2020

In [184]:
d2020.drop(columns = ['Currency', 'CompTotal', 'CompFreq'],inplace=True)

In [185]:
d2020.rename(columns = {"ConvertedComp":"salary"},inplace=True)

In [186]:
d2020['salary'] = d2020['salary'].astype(float)

For 2021

In [187]:
d2021.columns

Index(['Age', 'Gender', 'Country', 'salary', 'EdLevel', 'lang_have',
       'lang_want', 'Sexuality', 'Employment', 'year'],
      dtype='object')

### Creating undergrad df with 2018,2019,and 2020

In [188]:
undergrad_df = pd.concat([d2018, d2019, d2020],axis = 0)

In [191]:
# undergrad_df.drop(columns = (['Currency', 'Salary', 'SalaryType']),inplace = True)
undergrad_df.reset_index(inplace=True)

In [192]:
undergrad_df.to_csv("undergrad_df.csv")

### Creating final concatenated df to work with

In [193]:
df = pd.concat([d2018,d2019,d2020,d2021],axis = 0)

In [208]:
df.drop(columns = (['index']),inplace = True)
df.shape

(134936, 10)

In [209]:
df.columns

Index(['Age', 'Gender', 'Country', 'EdLevel', 'lang_have', 'lang_want',
       'Sexuality', 'Employment', 'year', 'salary'],
      dtype='object')

In [210]:
df.reset_index(inplace=True)

In [213]:
df.shape

(134936, 11)

In [214]:
df.dropna(inplace=True)
df.shape

(134934, 11)

## Cleaning Age column

In [217]:
df.Age.value_counts().to_dict()

{'25-34 years old': 20506,
 '25 - 34 years old': 15296,
 '35-44 years old': 9578,
 '18-24 years old': 6486,
 '35 - 44 years old': 5294,
 '18 - 24 years old': 4864,
 28.0: 4351,
 25.0: 4336,
 27.0: 4285,
 26.0: 4235,
 30.0: 4137,
 29.0: 4017,
 24.0: 3692,
 31.0: 3171,
 32.0: 3156,
 23.0: 3063,
 '45-54 years old': 3045,
 33.0: 2818,
 34.0: 2499,
 35.0: 2483,
 36.0: 2105,
 22.0: 1962,
 37.0: 1846,
 38.0: 1814,
 39.0: 1421,
 '45 - 54 years old': 1372,
 40.0: 1369,
 42.0: 1009,
 41.0: 966,
 21.0: 948,
 '55-64 years old': 898,
 43.0: 811,
 44.0: 658,
 45.0: 632,
 46.0: 512,
 48.0: 479,
 47.0: 460,
 50.0: 406,
 49.0: 394,
 20.0: 374,
 '55 - 64 years old': 338,
 52.0: 290,
 51.0: 284,
 53.0: 265,
 55.0: 215,
 54.0: 214,
 19.0: 175,
 56.0: 167,
 57.0: 139,
 '65 years or older': 138,
 58.0: 118,
 59.0: 111,
 60.0: 99,
 'Under 18 years old': 93,
 62.0: 81,
 63.0: 67,
 61.0: 66,
 18.0: 52,
 'Prefer not to say': 46,
 64.0: 46,
 65.0: 33,
 66.0: 21,
 68.0: 12,
 72.0: 12,
 67.0: 11,
 17.0: 11,
 70.0: 9,
 69.0: 7,
 73.0: 7,
 99.0: 6,
 71.0: 5,
 16.0: 5,
 2.0: 4,
 74.0: 3,
 22.5: 2,
 1.0: 2,
 75.0: 2,
 31.5: 2,
 38.5: 1,
 61.3: 1,
 26.5: 1,
 28.5: 1,
 33.6: 1,
 43.5: 1,
 46.5: 1,
 15.0: 1,
 83.0: 1,
 78.0: 1,
 27.5: 1,
 279.0: 1,
 79.0: 1,
 85.0: 1,
 96.0: 1,
 23.8: 1,
 49.5: 1,
 95.0: 1,
 30.8: 1,
 84.0: 1,
 98.0: 1,
 37.5: 1,
 3.0: 1,
 24.5: 1,
 23.5: 1,
 29.5: 1,
 4.0: 1,
 13.0: 1}

In [221]:
df["Age"] = df["Age"].astype(str).apply(lambda x: x.split("years")[0] if "years" in x.lower() else x)

In [224]:
df["Age"].value_counts().to_dict()

{'25-34 ': 20506,
 '25 - 34 ': 15296,
 '35-44 ': 9578,
 '18-24 ': 6486,
 '35 - 44 ': 5294,
 '18 - 24 ': 4864,
 '28.0': 4351,
 '25.0': 4336,
 '27.0': 4285,
 '26.0': 4235,
 '30.0': 4137,
 '29.0': 4017,
 '24.0': 3692,
 '31.0': 3171,
 '32.0': 3156,
 '23.0': 3063,
 '45-54 ': 3045,
 '33.0': 2818,
 '34.0': 2499,
 '35.0': 2483,
 '36.0': 2105,
 '22.0': 1962,
 '37.0': 1846,
 '38.0': 1814,
 '39.0': 1421,
 '45 - 54 ': 1372,
 '40.0': 1369,
 '42.0': 1009,
 '41.0': 966,
 '21.0': 948,
 '55-64 ': 898,
 '43.0': 811,
 '44.0': 658,
 '45.0': 632,
 '46.0': 512,
 '48.0': 479,
 '47.0': 460,
 '50.0': 406,
 '49.0': 394,
 '20.0': 374,
 '55 - 64 ': 338,
 '52.0': 290,
 '51.0': 284,
 '53.0': 265,
 '55.0': 215,
 '54.0': 214,
 '19.0': 175,
 '56.0': 167,
 '57.0': 139,
 '65 ': 138,
 '58.0': 118,
 '59.0': 111,
 '60.0': 99,
 'Under 18 ': 93,
 '62.0': 81,
 '63.0': 67,
 '61.0': 66,
 '18.0': 52,
 'Prefer not to say': 46,
 '64.0': 46,
 '65.0': 33,
 '66.0': 21,
 '68.0': 12,
 '72.0': 12,
 '67.0': 11,
 '17.0': 11,
 '70.0': 9,
 '69.0': 7,
 '73.0': 7,
 '99.0': 6,
 '71.0': 5,
 '16.0': 5,
 '2.0': 4,
 '74.0': 3,
 '22.5': 2,
 '1.0': 2,
 '75.0': 2,
 '31.5': 2,
 '38.5': 1,
 '61.3': 1,
 '26.5': 1,
 '28.5': 1,
 '33.6': 1,
 '43.5': 1,
 '46.5': 1,
 '15.0': 1,
 '83.0': 1,
 '78.0': 1,
 '27.5': 1,
 '279.0': 1,
 '79.0': 1,
 '85.0': 1,
 '96.0': 1,
 '23.8': 1,
 '49.5': 1,
 '95.0': 1,
 '30.8': 1,
 '84.0': 1,
 '98.0': 1,
 '37.5': 1,
 '3.0': 1,
 '24.5': 1,
 '23.5': 1,
 '29.5': 1,
 '4.0': 1,
 '13.0': 1}

In [236]:
def clean_age(x):
    if "under" in x.lower():
        return "18 below"
    if 'Prefer not to say' in x:
        return "na"
    if '25-34 ' in x:  
        return '25-30'
    if '25 - 34 ' in x:
        return '31-35'
    if '35-44 ' in x:
        return '35-40'
    if '35 - 44 ' in x:
        return '41-44'
    if '45-54 ' in x:
        return '45-50'
    if '45-54 ' in x:
        return '45-50'
    if '45 - 54 ' in x:
        return '51-55'
    if '55 - 64 ' in x:
        return '61-64'
    if '55-64 ' in x:
        return '55-60'
    if '18 - 24 ' in x:
        return '18-24'
    if '18-24 ' in x:
        return '18-24'
    if float(x) < 5 or float(x) > 85:
        return "na"
    if float(x) < 18:
        return "18 below"
    if 18 <= float(x) <= 25:
        return '18-24'
    if 18 <= float(x) <= 25:
        return '18-24'
    if 25 < float(x) <= 30:
        return '25-30'
    if 30 < float(x) <= 35:
        return '31-35'
    if 35 < float(x) <= 40:
        return '35-40'
    if 40 < float(x) <= 45:
        return '41-44'
    if 45 < float(x) <= 50:
        return '45-50'
    if 50 < float(x) <= 55:
        return '51-55'
    if 55 < float(x) <= 60:
        return '55-60'
    if 60 < float(x) <= 65:
        return '61-65'
    if float(x) > 65:
        return "65 above"

In [240]:
df["Age"] = df["Age"].apply(clean_age)

In [255]:
df = df[df.Age != 'na']

In [257]:
df.columns

Index(['index', 'Age', 'Gender', 'Country', 'EdLevel', 'lang_have',
       'lang_want', 'Sexuality', 'Employment', 'year', 'salary'],
      dtype='object')

## Cleaning Gender Column

In [258]:
df.Gender.value_counts()

Man                                                                                   99583
Male                                                                                  25173
Woman                                                                                  6280
Female                                                                                 1662
Non-binary, genderqueer, or gender non-conforming                                       754
Prefer not to say                                                                       370
Man;Non-binary, genderqueer, or gender non-conforming                                   280
Woman;Non-binary, genderqueer, or gender non-conforming                                 191
Or, in your own words:                                                                  119
Man;Or, in your own words:                                                              104
Female;Transgender                                                                       61
Male;Non-binary, genderqueer, or gender non-conforming                                   49
Transgender                                                                              35
Woman;Man                                                                                34
Female;Non-binary, genderqueer, or gender non-conforming                                 29
Transgender;Non-binary, genderqueer, or gender non-conforming                            26
Female;Male                                                                              20
Male;Transgender                                                                         19
Woman;Man;Non-binary, genderqueer, or gender non-conforming                              14
Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming                11
Female;Transgender;Non-binary, genderqueer, or gender non-conforming                     11
Man;Woman                                                                                 8
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                  7
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:        6
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:              5
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            5
Man;Woman;Non-binary, genderqueer, or gender non-conforming                               4
Woman;Or, in your own words:                                                              3
Female;Male;Transgender                                                                   3
Male;Transgender;Non-binary, genderqueer, or gender non-conforming                        2
Female;Male;Non-binary, genderqueer, or gender non-conforming                             1
Man;Woman;Or, in your own words:                                                          1
Name: Gender, dtype: int64

In [260]:
def clean_gender(x):
    if 'transgender' in x.lower():
        return 'Transgender'
    if 'non-binary' in x.lower() or 'genderqueer' in x.lower() or 'non-conforming' in x.lower():
        return 'Non-binary/Genderqueer/Non-Conforming'
    if 'in your own words' in x.lower():
        return 'Self-description'
    if 'prefer not to say' in x.lower():
        return 'prefer not to say'
    if 'woman' in x.lower() or "female" in x.lower():
        return "Female"
    if 'man' in x.lower() or 'male' in x.lower():
        return "Male"

In [263]:
df['Gender'] = df['Gender'].apply(clean_gender)

/tmp/ipykernel_31013/2046542616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].apply(clean_gender)

## Clean Country column

In [269]:
df.Country.value_counts().sort_values().to_dict()

{'Afghanistan': 18,
 'Albania': 96,
 'Algeria': 52,
 'Andorra': 3,
 'Angola': 7,
 'Argentina': 931,
 'Armenia': 102,
 'Australia': 2987,
 'Austria': 1180,
 'Azerbaijan': 65,
 'Bahamas': 1,
 'Bahrain': 16,
 'Bangladesh': 518,
 'Barbados': 8,
 'Belarus': 319,
 'Belgium': 1248,
 'Belize': 3,
 'Benin': 8,
 'Bhutan': 5,
 'Bolivia': 68,
 'Bosnia and Herzegovina': 160,
 'Botswana': 10,
 'Brazil': 4320,
 'Brunei Darussalam': 2,
 'Bulgaria': 692,
 'Burkina Faso': 1,
 'Burundi': 3,
 'Cambodia': 21,
 'Cameroon': 41,
 'Canada': 5335,
 'Cape Verde': 1,
 'Chile': 343,
 'China': 630,
 'Colombia': 593,
 'Congo, Republic of the...': 8,
 'Costa Rica': 133,
 'Croatia': 398,
 'Cuba': 61,
 'Cyprus': 83,
 'Czech Republic': 995,
 "Côte d'Ivoire": 22,
 "Democratic People's Republic of Korea": 1,
 'Democratic Republic of the Congo': 11,
 'Denmark': 1096,
 'Djibouti': 1,
 'Dominica': 1,
 'Dominican Republic': 161,
 'Ecuador': 147,
 'Egypt': 367,
 'El Salvador': 86,
 'Estonia': 323,
 'Ethiopia': 52,
 'Fiji': 4,
 'Finland': 980,
 'France': 4573,
 'Gambia': 1,
 'Georgia': 141,
 'Germany': 8805,
 'Ghana': 74,
 'Greece': 854,
 'Guatemala': 98,
 'Guinea': 2,
 'Guyana': 4,
 'Haiti': 5,
 'Honduras': 37,
 'Hong Kong (S.A.R.)': 217,
 'Hungary': 698,
 'Iceland': 76,
 'India': 9997,
 'Indonesia': 462,
 'Iran': 468,
 'Iran, Islamic Republic of...': 383,
 'Iraq': 26,
 'Ireland': 868,
 'Isle of Man': 6,
 'Israel': 1059,
 'Italy': 2304,
 'Jamaica': 25,
 'Japan': 657,
 'Jordan': 75,
 'Kazakhstan': 100,
 'Kenya': 257,
 'Kosovo': 28,
 'Kuwait': 23,
 'Kyrgyzstan': 31,
 "Lao People's Democratic Republic": 4,
 'Latvia': 237,
 'Lebanon': 135,
 'Lesotho': 6,
 'Libyan Arab Jamahiriya': 5,
 'Liechtenstein': 1,
 'Lithuania': 422,
 'Luxembourg': 92,
 'Madagascar': 22,
 'Malawi': 6,
 'Malaysia': 321,
 'Maldives': 13,
 'Mali': 1,
 'Malta': 111,
 'Mauritius': 31,
 'Mexico': 1313,
 'Monaco': 4,
 'Mongolia': 16,
 'Montenegro': 24,
 'Morocco': 118,
 'Mozambique': 7,
 'Myanmar': 31,
 'Namibia': 10,
 'Nepal': 203,
 'Netherlands': 3101,
 'New Zealand': 735,
 'Nicaragua': 54,
 'Niger': 2,
 'Nigeria': 401,
 'Nomadic': 24,
 'North Korea': 1,
 'Norway': 1167,
 'Oman': 9,
 'Other Country (Not Listed Above)': 62,
 'Pakistan': 792,
 'Palestine': 9,
 'Panama': 58,
 'Paraguay': 81,
 'Peru': 201,
 'Philippines': 367,
 'Poland': 3351,
 'Portugal': 959,
 'Qatar': 20,
 'Republic of Korea': 45,
 'Republic of Moldova': 76,
 'Romania': 1055,
 'Russian Federation': 3067,
 'Rwanda': 18,
 'Saint Kitts and Nevis': 1,
 'Saint Lucia': 1,
 'Saint Vincent and the Grenadines': 1,
 'San Marino': 2,
 'Saudi Arabia': 94,
 'Senegal': 18,
 'Serbia': 539,
 'Seychelles': 1,
 'Sierra Leone': 1,
 'Singapore': 444,
 'Slovakia': 361,
 'Slovenia': 422,
 'Somalia': 8,
 'South Africa': 1027,
 'South Korea': 173,
 'Spain': 3124,
 'Sri Lanka': 366,
 'Sudan': 25,
 'Suriname': 2,
 'Swaziland': 10,
 'Sweden': 2264,
 'Switzerland': 1478,
 'Syrian Arab Republic': 31,
 'Taiwan': 255,
 'Tajikistan': 5,
 'Thailand': 181,
 'The former Yugoslav Republic of Macedonia': 76,
 'Togo': 7,
 'Trinidad and Tobago': 23,
 'Tunisia': 97,
 'Turkey': 1089,
 'Turkmenistan': 7,
 'Uganda': 72,
 'Ukraine': 1303,
 'United Arab Emirates': 167,
 'United Kingdom': 7393,
 'United Kingdom of Great Britain and Northern Ireland': 2582,
 'United Republic of Tanzania': 44,
 'United States': 25882,
 'United States of America': 8696,
 'Uruguay': 252,
 'Uzbekistan': 51,
 'Venezuela, Bolivarian Republic of...': 139,
 'Viet Nam': 221,
 'Yemen': 15,
 'Zambia': 19,
 'Zimbabwe': 42}

In [278]:
def clean_country(x):
    if 'congo' in x.lower():
        return 'Republic of Congo'
    if 'iran' in x.lower() and 'islam' in x.lower():
        return 'Iran'
    if 'dominica' in x.lower():
        return 'Dominican Republic'
    if "Democratic People's Republic of Korea" in x.lower() and "north korea" in x.lower():
        return 'North Korea'
    if 'united states' in x.lower():
        return "USA"
    if 'united kingdom' in x.lower():
        return "UK"
    else :
        return x

In [279]:
df["Country"] = df["Country"].apply(clean_country)

/tmp/ipykernel_31013/3401064559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Country"] = df["Country"].apply(clean_country)

{'North Korea': 1,
 'Cape Verde': 1,
 'Saint Vincent and the Grenadines': 1,
 'Saint Lucia': 1,
 'Burkina Faso': 1,
 'Djibouti': 1,
 "Democratic People's Republic of Korea": 1,
 'Sierra Leone': 1,
 'Gambia': 1,
 'Liechtenstein': 1,
 'Seychelles': 1,
 'Saint Kitts and Nevis': 1,
 'Bahamas': 1,
 'Mali': 1,
 'Suriname': 2,
 'San Marino': 2,
 'Niger': 2,
 'Guinea': 2,
 'Brunei Darussalam': 2,
 'Belize': 3,
 'Burundi': 3,
 'Andorra': 3,
 'Fiji': 4,
 'Guyana': 4,
 'Monaco': 4,
 "Lao People's Democratic Republic": 4,
 'Tajikistan': 5,
 'Libyan Arab Jamahiriya': 5,
 'Bhutan': 5,
 'Haiti': 5,
 'Lesotho': 6,
 'Isle of Man': 6,
 'Malawi': 6,
 'Turkmenistan': 7,
 'Mozambique': 7,
 'Angola': 7,
 'Togo': 7,
 'Somalia': 8,
 'Benin': 8,
 'Barbados': 8,
 'Oman': 9,
 'Palestine': 9,
 'Namibia': 10,
 'Swaziland': 10,
 'Botswana': 10,
 'Maldives': 13,
 'Yemen': 15,
 'Bahrain': 16,
 'Mongolia': 16,
 'Afghanistan': 18,
 'Senegal': 18,
 'Rwanda': 18,
 'Republic of Congo': 19,
 'Zambia': 19,
 'Qatar': 20,
 'Cambodia': 21,
 "Côte d'Ivoire": 22,
 'Madagascar': 22,
 'Trinidad and Tobago': 23,
 'Kuwait': 23,
 'Montenegro': 24,
 'Nomadic': 24,
 'Sudan': 25,
 'Jamaica': 25,
 'Iraq': 26,
 'Kosovo': 28,
 'Mauritius': 31,
 'Syrian Arab Republic': 31,
 'Myanmar': 31,
 'Kyrgyzstan': 31,
 'Honduras': 37,
 'Cameroon': 41,
 'Zimbabwe': 42,
 'United Republic of Tanzania': 44,
 'Republic of Korea': 45,
 'Uzbekistan': 51,
 'Ethiopia': 52,
 'Algeria': 52,
 'Nicaragua': 54,
 'Panama': 58,
 'Cuba': 61,
 'Other Country (Not Listed Above)': 62,
 'Azerbaijan': 65,
 'Bolivia': 68,
 'Uganda': 72,
 'Ghana': 74,
 'Jordan': 75,
 'Republic of Moldova': 76,
 'The former Yugoslav Republic of Macedonia': 76,
 'Iceland': 76,
 'Paraguay': 81,
 'Cyprus': 83,
 'El Salvador': 86,
 'Luxembourg': 92,
 'Saudi Arabia': 94,
 'Albania': 96,
 'Tunisia': 97,
 'Guatemala': 98,
 'Kazakhstan': 100,
 'Armenia': 102,
 'Malta': 111,
 'Morocco': 118,
 'Costa Rica': 133,
 'Lebanon': 135,
 'Venezuela, Bolivarian Republic of...': 139,
 'Georgia': 141,
 'Ecuador': 147,
 'Bosnia and Herzegovina': 160,
 'Dominican Republic': 162,
 'United Arab Emirates': 167,
 'South Korea': 173,
 'Thailand': 181,
 'Peru': 201,
 'Nepal': 203,
 'Hong Kong (S.A.R.)': 217,
 'Viet Nam': 221,
 'Latvia': 237,
 'Uruguay': 252,
 'Taiwan': 255,
 'Kenya': 257,
 'Belarus': 319,
 'Malaysia': 321,
 'Estonia': 323,
 'Chile': 343,
 'Slovakia': 361,
 'Sri Lanka': 366,
 'Egypt': 367,
 'Philippines': 367,
 'Croatia': 398,
 'Nigeria': 401,
 'Lithuania': 422,
 'Slovenia': 422,
 'Singapore': 444,
 'Indonesia': 462,
 'Bangladesh': 518,
 'Serbia': 539,
 'Colombia': 593,
 'China': 630,
 'Japan': 657,
 'Bulgaria': 692,
 'Hungary': 698,
 'New Zealand': 735,
 'Pakistan': 792,
 'Iran': 851,
 'Greece': 854,
 'Ireland': 868,
 'Argentina': 931,
 'Portugal': 959,
 'Finland': 980,
 'Czech Republic': 995,
 'South Africa': 1027,
 'Romania': 1055,
 'Israel': 1059,
 'Turkey': 1089,
 'Denmark': 1096,
 'Norway': 1167,
 'Austria': 1180,
 'Belgium': 1248,
 'Ukraine': 1303,
 'Mexico': 1313,
 'Switzerland': 1478,
 'Sweden': 2264,
 'Italy': 2304,
 'Australia': 2987,
 'Russian Federation': 3067,
 'Netherlands': 3101,
 'Spain': 3124,
 'Poland': 3351,
 'Brazil': 4320,
 'France': 4573,
 'Canada': 5335,
 'Germany': 8805,
 'UK': 9975,
 'India': 9997,
 'USA': 34578}

## Cleaning Education level column

In [280]:
df.EdLevel.value_counts()

Bachelor’s degree (BA, BS, B.Eng., etc.)                                              36623
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          32096
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           18540
Some college/university study without earning a degree                                17439
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       16844
Associate degree                                                                       2447
Other doctoral degree (Ph.D., Ed.D., etc.)                                             2291
Other doctoral degree (Ph.D, Ed.D., etc.)                                              2132
Associate degree (A.A., A.S., etc.)                                                    2074
Professional degree (JD, MD, etc.)                                                     2025
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     1771
Something else                                                                          395
Primary/elementary school                                                               193
Name: EdLevel, dtype: int64

In [281]:
def clean_edu (x):
    if "bachelor" in x.lower():
        return "Graduate"
    if 'master' in x.lower():
        return "Post-graduate"
    if "doctoral" in x.lower():
        return "Doctorate"
    if "associate" in x.lower() or "professional" in x.lower() or "some college" in x.lower():
        return "Diploma/professional "
    if "school" in x.lower() or "something else" in x.lower():
        return "Below graduation"

In [285]:
df["EdLevel"] = df["EdLevel"].apply(clean_edu)

/tmp/ipykernel_31013/1949680107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EdLevel"] = df["EdLevel"].apply(clean_edu)

In [287]:
df["EdLevel"].value_counts()

Graduate                 68719
Post-graduate            35384
Diploma/professional     23985
Doctorate                 4423
Below graduation          2359
Name: EdLevel, dtype: int64

## Clean language want to work with and language working with

In [294]:
df['lang_have'] = df['lang_have'].apply(lambda x: x.replace("/"," ").replace(";"," ") )

In [295]:
df['lang_want'] = df['lang_want'].apply(lambda x: x.replace("/"," ").replace(";"," ") )

In [298]:
df.Sexuality.value_counts()

Straight / Heterosexual                                                           97059
Straight or heterosexual                                                          25082
Bisexual                                                                           4142
Gay or Lesbian                                                                     2884
Prefer not to say                                                                  1688
Bisexual or Queer                                                                   918
Prefer to self-describe:                                                            509
Bisexual;Straight / Heterosexual                                                    407
Queer                                                                               306
Straight / Heterosexual;Bisexual                                                    304
Bisexual;Queer                                                                      280
Asexual                                                                             234
Straight or heterosexual;Bisexual or Queer                                          168
Straight / Heterosexual;Prefer to self-describe:                                    126
Gay or Lesbian;Queer                                                                124
Bisexual;Gay or Lesbian                                                             109
Straight or heterosexual;Asexual                                                    101
Straight / Heterosexual;Queer                                                        84
Gay or Lesbian;Bisexual or Queer                                                     46
Bisexual;Gay or Lesbian;Queer                                                        34
Prefer to self-describe:;Queer                                                       30
Bisexual or Queer;Asexual                                                            27
Bisexual;Gay or Lesbian;Straight / Heterosexual                                      24
Straight or heterosexual;Gay or Lesbian;Bisexual or Queer;Asexual                    22
Gay or Lesbian;Straight / Heterosexual                                               18
Bisexual;Prefer to self-describe:;Queer                                              15
Gay or Lesbian;Asexual                                                               13
Bisexual;Prefer to self-describe:                                                    13
Bisexual;Gay or Lesbian;Straight / Heterosexual;Queer                                11
Straight or heterosexual;Bisexual or Queer;Asexual                                   11
Straight / Heterosexual;Bisexual;Gay or Lesbian                                      10
Straight / Heterosexual;Gay or Lesbian                                                8
Prefer to self-describe:;Gay or Lesbian;Queer                                         7
Straight or heterosexual;Gay or Lesbian;Bisexual or Queer                             7
Straight / Heterosexual;Bisexual;Queer                                                7
Straight or heterosexual;Gay or Lesbian                                               7
Gay or Lesbian;Bisexual or Queer;Asexual                                              6
Straight / Heterosexual;Bisexual;Gay or Lesbian;Queer                                 5
Straight / Heterosexual;Prefer to self-describe:;Queer                                4
Bisexual;Straight / Heterosexual;Queer                                                4
Straight / Heterosexual;Bisexual;Prefer to self-describe:                             4
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer        3
Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer                                3
Bisexual;Prefer to self-describe:;Gay or Lesbian                                      2
Prefer to self-describe:;Gay or Lesbian                                               2
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian              1
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Queer                       1
Name: Sexuality, dtype: int64

In [299]:
def clean_sexuality(x):
    if 'asexual' in x.lower():
        return "Asexual"
    if "queer" in x.lower() :
        return "Queer"
    if "self-describe" in x.lower():
        return "Prefer to self-describe"
    if "prefer not to say" in x.lower():
        return "Prefer not to say"
    if "gay" in x.lower() or "lesbian" in x.lower():
        return "Gay or Lesbian"
    if "bisexual" in x.lower():
        return "Bisexual"
    if "straight" in x.lower() or "heterosexual" in x.lower():
        return "Straigh/Heterosexual"

In [300]:
sexuality =df.Sexuality.apply(clean_sexuality)

In [302]:
sexuality.shape

(134870,)

In [310]:
df.Employment.value_counts()

Employed full-time                                      118374
Independent contractor, freelancer, or self-employed     11587
Employed part-time                                        4291
Not employed, but looking for work                         439
Not employed, and not looking for work                     131
Retired                                                     25
I prefer not to say                                         23
Name: Employment, dtype: int64

In [312]:
df.isna().sum()

index         0
Age           0
Gender        0
Country       0
EdLevel       0
lang_have     0
lang_want     0
Sexuality     0
Employment    0
year          0
salary        0
dtype: int64

In [315]:
for column in df.columns:
    print(column)
    print(df[column].value_counts())

index
0         1
89944     1
89942     1
89941     1
89940     1
         ..
44956     1
44955     1
44954     1
44953     1
134935    1
Name: index, Length: 134870, dtype: int64
Age
25-30       41535
31-35       29427
18-24       25957
35-40       18135
41-44        9371
45-50        5298
51-55        2640
55-60        1532
61-65         432
61-64         338
18 below      111
65 above       94
Name: Age, dtype: int64
Gender
Male                                     124756
Female                                     8004
Non-binary/Genderqueer/Non-Conforming      1345
prefer not to say                           370
Self-description                            227
Transgender                                 168
Name: Gender, dtype: int64
Country
USA              34578
India             9997
UK                9975
Germany           8805
Canada            5335
                 ...
Mali                 1
Seychelles           1
Liechtenstein        1
Sierra Leone         1
North Korea          1
Name: Country, Length: 175, dtype: int64
EdLevel
Graduate                 68719
Post-graduate            35384
Diploma/professional     23985
Doctorate                 4423
Below graduation          2359
Name: EdLevel, dtype: int64
lang_have
C# HTML CSS JavaScript SQL                                                    1623
HTML CSS JavaScript PHP SQL                                                   1462
C# HTML CSS JavaScript SQL TypeScript                                         1325
Java                                                                          1087
Python                                                                        1067
                                                                              ...
Bash Shell PowerShell Java Rust Other(s):                                        1
Bash Shell PowerShell Dart HTML CSS Java JavaScript Objective-C Python SQL       1
Bash Shell PowerShell Go HTML CSS JavaScript PHP Python SQL Other(s):            1
Assembly C C++ Go HTML CSS JavaScript Kotlin Swift TypeScript                    1
Delphi Elixir HTML CSS Java JavaScript                                           1
Name: lang_have, Length: 41330, dtype: int64
lang_want
Python                                                                         1810
C#                                                                             1118
Go                                                                              922
Rust                                                                            865
HTML CSS JavaScript TypeScript                                                  826
                                                                               ...
C# Go HTML CSS Java JavaScript Kotlin Objective-C PHP Python Ruby SQL Swift       1
Bash Shell PowerShell HTML CSS Java JavaScript Python R SQL VBA WebAssembly       1
C++ Objective-C PHP Python SQL                                                    1
Assembly Bash Shell PowerShell C HTML CSS JavaScript Ruby SQL WebAssembly         1
Elixir HTML CSS Java JavaScript Node.js PHP SQL TypeScript                        1
Name: lang_want, Length: 46403, dtype: int64
Sexuality
Straight / Heterosexual                                                           97059
Straight or heterosexual                                                          25082
Bisexual                                                                           4142
Gay or Lesbian                                                                     2884
Prefer not to say                                                                  1688
Bisexual or Queer                                                                   918
Prefer to self-describe:                                                            509
Bisexual;Straight / Heterosexual                                                    407
Queer                                                                               306
Straight / Heterosexual;Bisexual                                                    304
Bisexual;Queer                                                                      280
Asexual                                                                             234
Straight or heterosexual;Bisexual or Queer                                          168
Straight / Heterosexual;Prefer to self-describe:                                    126
Gay or Lesbian;Queer                                                                124
Bisexual;Gay or Lesbian                                                             109
Straight or heterosexual;Asexual                                                    101
Straight / Heterosexual;Queer                                                        84
Gay or Lesbian;Bisexual or Queer                                                     46
Bisexual;Gay or Lesbian;Queer                                                        34
Prefer to self-describe:;Queer                                                       30
Bisexual or Queer;Asexual                                                            27
Bisexual;Gay or Lesbian;Straight / Heterosexual                                      24
Straight or heterosexual;Gay or Lesbian;Bisexual or Queer;Asexual                    22
Gay or Lesbian;Straight / Heterosexual                                               18
Bisexual;Prefer to self-describe:;Queer                                              15
Gay or Lesbian;Asexual                                                               13
Bisexual;Prefer to self-describe:                                                    13
Bisexual;Gay or Lesbian;Straight / Heterosexual;Queer                                11
Straight or heterosexual;Bisexual or Queer;Asexual                                   11
Straight / Heterosexual;Bisexual;Gay or Lesbian                                      10
Straight / Heterosexual;Gay or Lesbian                                                8
Prefer to self-describe:;Gay or Lesbian;Queer                                         7
Straight or heterosexual;Gay or Lesbian;Bisexual or Queer                             7
Straight / Heterosexual;Bisexual;Queer                                                7
Straight or heterosexual;Gay or Lesbian                                               7
Gay or Lesbian;Bisexual or Queer;Asexual                                              6
Straight / Heterosexual;Bisexual;Gay or Lesbian;Queer                                 5
Straight / Heterosexual;Prefer to self-describe:;Queer                                4
Bisexual;Straight / Heterosexual;Queer                                                4
Straight / Heterosexual;Bisexual;Prefer to self-describe:                             4
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer        3
Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer                                3
Bisexual;Prefer to self-describe:;Gay or Lesbian                                      2
Prefer to self-describe:;Gay or Lesbian                                               2
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian              1
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Queer                       1
Name: Sexuality, dtype: int64
Employment
Employed full-time                                      118374
Independent contractor, freelancer, or self-employed     11587
Employed part-time                                        4291
Not employed, but looking for work                         439
Not employed, and not looking for work                     131
Retired                                                     25
I prefer not to say                                         23
Name: Employment, dtype: int64
year
2019    42895
2021    40699
2018    27209
2020    24067
Name: year, dtype: int64
salary
120000.0    1367
100000.0    1248
150000.0    1130
80000.0      995
130000.0     939
            ...
32883.0        1
587700.0       1
55934.0        1
37524.0        1
816816.0       1
Name: salary, Length: 19600, dtype: int64

In [325]:
df.drop(columns = (['level_0', 'index']),inplace=True)

In [326]:
df.to_csv("clean_df.csv")